.App {
  /*text-align: center;*/
}
<<<<<<< HEAD:web/cook-frontend/react-ui/src/App.css

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

=======
/*
>>>>>>> fdf156530babeb8ee3601b22b67c012d767b0bc8:web/cook-frontend/src/App.css
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
*/