.App {
  /*text-align: center;*/
  	.btn-primary,
	.btn-primary:hover,
	.btn-primary:active,
	.btn-primary:visited,
	.btn-primary:focus {
	    background-color: #ffffff;
	    border-color: #8064A2;
}
}
  	.btn-primary,
	.btn-primary:hover,
	.btn-primary:active,
	.btn-primary:visited,
	.btn-primary:focus {
	    background-color: #ffffff;
	    border-color: #8064A2;
	    }