<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.auto_garcon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-feature android:name="android.hardware.camera" />
    <!-- We may need this -->
    <!-- <uses-feature android:name="android.hardware.camera.autofocus"/> -->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="auto_garcon.Popup"
            android:theme="@style/AppTheme.Popup"></activity>
        <activity android:name="auto_garcon.LoadingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="auto_garcon.OrderHistory" />
        <activity android:name="auto_garcon.ShoppingCart" />
        <activity android:name="auto_garcon.Account" />
        <activity android:name="auto_garcon.Settings" />
        <activity android:name="auto_garcon.Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="auto_garcon.Register" />
        <activity android:name="auto_garcon.Login" />
        <activity android:name="auto_garcon.Home" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3180674783074402~6809677430" />

        <!-- This is for the Qr code -->
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode"></meta-data>
        <activity android:name="auto_garcon.QRcode">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>