<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.auto_garcon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/small_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="auto_garcon.InitialPages.twoButtonPage" />
        <activity android:name="auto_garcon.InitialPages.LoadingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="auto_garcon.Cart_OrderHistory.OrderHistory" />
        <activity android:name="auto_garcon.Cart_OrderHistory.ShoppingCart" />
        <activity android:name="auto_garcon.AccountStuff.Account"/>
        <activity android:name="auto_garcon.AccountStuff.Settings" />
        <activity android:name="auto_garcon.MenuStuff.Menu"/>
        <activity android:name="auto_garcon.InitialPages.Register" />
        <activity android:name="auto_garcon.InitialPages.Login"/>
        <activity android:name="auto_garcon.HomeStuff.Home"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3180674783074402~6809677430" /> <!-- This is for the Qr code -->
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name="auto_garcon.InitialPages.QRcode"/>
    </application>

</manifest>